.container_toggler {
    width: 48px;
    height: 48px;
    display: block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.all_options input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.poste {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}

.contens {
    margin-bottom: 20px;
}

.discription {
    padding-top: 4px;
    font-size: 24px;
    font-weight: 300;
}

.title_post {
    margin-bottom: 20px;
}

.info {
    color: lightgrey;
    display: flex;
    margin-left: 2rem;
}

.heading {
    align-items: flex-end;
    display: flex;
}

h2 {
    margin: 0px;
}

.title {
    display: flex;
    margin-right: 2rem;
}

.title_in {
    display: flex;
    width: 30rem;
}

.class_posts {
    display: flex;
    flex-direction: row;
    margin-right: 10%;
    margin-bottom: 20px;
}

.all_options {
    display: flex;
    width: 240px;
}

.option {
    display: flex;
    padding: 0.25rem 1rem;
    width: 80px;
    cursor: pointer;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.filter_friends {
    border-top: 2px solid #e5e5ea;
    border-bottom: 2px solid #e5e5ea;
    background-color: var(--friends_color);
}

.filter_public {
    background-color: var(--public_color);
    border: 2px solid #e5e5ea;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.filter_privat {
    background-color: var(--privat_color);
    border: 2px solid #e5e5ea;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.visibilety {
    display: flex;
    font-size: 1.5rem;
    margin-right: 2rem;
}

input:not(:checked)+div {
    background-color: #FFFFFF;
}

textarea {
    resize: none;
}

.delete {
    background-color: red;
    border: 1px solid #e5e5ea;
    border-radius: .375rem;
    padding: 2px 4px;
    cursor: pointer;
    color: black;
    text-align: center;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
    width: 100%;
    height: 100%;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit input {
    display: none;
}

.edit label {
    width: 100%;
    height: 100%;
}