{% extends "layout.html" %}

{% block head %}
<title>profile</title>
<link href="../static/css/style_profile.css" rel="stylesheet">
<script defer src="../static/js/profile.js"></script>
{% endblock %}

{% block home %}
<text>Home</text>
{% endblock %}
{% block search %}
<text>Search</text>
{% endblock %}
{% block poste %}
<text>Poste</text>
{% endblock %}
{% block profile %}
<text>Profile</text>
{% endblock %}

{% block scroller %}
<div class="site_box">
    <div class="acc_info">
        <div class="row">
            <div class="col-4 profilepicture">
                <img src="/{{person_info['profile_picture']}}">
            </div>
            <div class="col-8 informations">
                <div class="row">
                    <div class="col username">
                        {{person_info["username"]}}
                    </div>
                </div>
                <div class="row">
                    <div class="col Blogs">
                        <p>
                            <number style="font-weight: 600;">{{person_info["blogs_int"]}}</number> Blogs
                        </p>
                    </div>
                    <div class="col follows">
                        <p>
                            <number style="font-weight: 600;">{{person_info["follows_int"]}}</number> Follows
                        </p>
                    </div>
                    <div class="col followers">
                        <p>
                            <number style="font-weight: 600;">{{person_info["follower_int"]}}</number> Follower
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="class_posts">
        <div class="all_options">
            <label>
                <input type="checkbox" class="box1" value="public" />
                <div class="option_view filter_public_view" id="public">Pulic</div>
            </label>
            <label>
                <input type="checkbox" class="box2" value="friends" />
                <div class="option_view filter_friends_view" id="friends">Friends</div>
            </label>
        </div>
    </div>
    <div class="posts">
        {% for post in posts %}
        <div class="post {{post['private']}}">
            <div class="content_post">
                <div class="h">
                    <div class="title">{{post["title"]}}</div>
                </div>
                <div class="text_content">{{post["poste"]}}</div>
                <div class="date">{{post["posted_on"]}}</div>
            </div>
        </div>
        {% endfor %}
        {{no_posts}}
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $(":root").css({
            "--public_color": "{{user['color_public']}}",
            "--privat_color": "{{user['color_private']}}",
            "--friends_color": "{{user['color_friends']}}",
            "--puplic_text": "{{user['text_color_public']}}",
            "--privat_text": "{{user['text_color_private']}}",
            "--friends_text": "{{user['text_color_friends']}}"
        });
    });
</script>
{% endblock %}